<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">            
            <h1><%= pageTitle %></h1>
            <form action="/add-user" method="POST">
                <label for="fullName">Full Name:</label>
                <input type="text" id="fullName" name="fullName" required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                
                <label for="phoneNumber">Phone Number:</label>
                <input type="text" id="phoneNumber" name="phoneNumber" required>
                
                <button type="submit">Add Appoinment</button>
            </form>
        </main>
        <%- include('../includes/end.ejs') %>


